<div class="topnav">
 <a routerLink=''>Home</a>
</div>

<div class="row">

         <div class="container">     
        <div class="card">
            <h2>View Progress</h2>
          
            <a routerLink='/user-report'>View Report</a>
            <p>Here is Your Progress Report!!</p>
          </div>
          <div class="card">
            <h2>Test you skills</h2>
            <a routerLink='/select-exam'>Take Test </a>
            <p>
                All The Best!!
              </p>
          </div>
    </div>

</div>
