<div class="topnav">
 <a routerLink=''>Home</a>
</div>

<div class="row">

         <div class="container">     
        <div class="card">
            <h2>View Progress</h2>
            <div class="fakeimg" style="height:50px;"></div>
            <a routerLink='/user-report'>View Report</a>
            <p>Here is Your Progress Report!!Make it Available to admin to get A Job!!</p>
          </div>
          <div class="card">
            <h2>Want to test your skills?</h2>
            <div class="fakeimg" style="height:50px;"></div>
            <a routerLink='/select-exam'>Choose A Skill And Take Test </a>
            <p>Take our test And Go One Step Closer in Getting A Job!!
                All The Best!!
              </p>
          </div>
    </div>

</div>
