
body
{
    background-image: url('/assets/Reportbackground.jpeg');
    background-size:cover;
}
form
{
text-align: center;
padding-top: 20%;
padding-bottom: 20%;
font-family:'Times New Roman', Times, serif;
font-size: xx-large;
}

.boxed
{
width: 25%;
align-self: center;
background-color:white;
margin-right: 40%;
margin-left: 40%;
}

.button
{
font-size: 40%;
margin: 4px 100px;
align-content: center;
}
