body
{
    background-color:linen;
}
.main
{
	 
    background-color:rgb(247, 246, 241);
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    height:150px;
    font-size:15pt;
	

}
.ques
{
    font-size: 18pt;
    font-weight: bold;
}
.nextBtn
{
    position: relative;
    right:10px;
    float:right;
    border:none;
    font-size: 18pt;
    background-color: linen;
    color:mediumaquamarine;
    width:80px;
    height: 35px;
}