<div id="nav">
    <ul>
        <li><a routerLink="/aboutusLink">About Us</a></li>
        <li><a routerLink="/registerLink">Register</a></li>
        <li><a routerLink="/admin-loginLink">Admin Login</a></li>
        <li><a routerLink="/homeLink">Home</a></li>
    </ul>
</div>
<div id="page">
  <div id="container">
    <br>
    <h1 style="text-align: center; color: black;">
      Student Login Page
    </h1>
    <br><br>
    <form #loginForm="ngForm" (ngSubmit)="loginStudent()">
      <div class="body">
          Email ID: <input type="text" placeholder="Email ID" #ue="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$" [(ngModel)]="stud1.email" [ngModelOptions]="{standalone: true}"> 
          <div *ngIf="ue.invalid && (ue.dirty||ue.touched)" style="color: red;" >
            <div *ngIf="ue.errors?.required">*Email is required</div>
            <div *ngIf="ue.errors?.pattern">*Email ID is invalid</div>
          </div>

          <br><br><br>
          Password: <input type="password" placeholder="Password" #up="ngModel" required [(ngModel)]="stud1.password" [ngModelOptions]="{standalone: true}"> 
          <div *ngIf="up.invalid && (up.dirty||up.touched)" style="color: red;" >
            <div *ngIf="up.errors?.required">*Password is required</div>
          </div>

          <a routerLink="/forgetpasswordLink"><br><br>
              Forget Password</a> <br><br>
          <button type="submit"  [disabled]="!loginForm.valid">Login</button><br><br><br>

          Don't have an Account? <a routerLink="/registerLink">Register Here</a> 
      </div>
    </form>   
    <br><br>
  </div>