<body>
<h1>ADD Questions</h1>
<label for="SubjectName">Choose a Subject</label>
<br>
<select (change)="selectChangeHandler($event)"id="SubjectName">
  <option value="Angular">Angular</option>
  <option value="DBMS">DBMS</option>
  <option value="Java">Java</option>
  <option value="Python">Python</option>
</select>

<br>
<br>

<br>
<label for="level">Choose a Level</label>
<br>
<select (change)="selectChangesHandler($event)" id="level">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  </select>
  <br>
  <br>
 
<div class="csv-file-chooser-section">

  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
    accept=".csv" />

</div>

<div class="csv-result-table">

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Level</th>
        <th>Question</th>
        <th>Option 1</th>
        <th>Option 2</th>
        <th>Option 3</th>
        <th>Option 4</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody style="color: black;">
      <tr *ngFor="let csvData of csvRecords;let i = index;">

        <td>{{i+1}}</td>
        <td>
          <span>{{csvData.level}}</span>
        </td>
        <td>
          <span>{{csvData.question}}</span>
        </td>
        <td>
          <span>{{csvData.op1}}</span>
        </td>
        <td>
          <span>{{csvData.op2}}</span>
        </td>
        <td>
          <span>{{csvData.op3}}</span>
        </td>
        <td>
          <span>{{csvData.op4}}</span>
        </td>
        <td>
            <span>{{csvData.ans}}</span>
        </td>

      </tr>
    </tbody>
  </table>

</div>
</body>
  
  