<div class="topnav">
  <a routerLink=''>Home</a>
  <a routerLink='/user-login'>Student Login</a>
  <a routerLink='/admin-login'>Admin Login</a>
  </div>

  <div id="body">


    <div id="container">
        <br>
        <h2> Student Registration Form</h2>
    
        <form #regForm="ngForm" (ngSubmit) = "register(regForm)">
            <br>
            <table>
                
                <tr>
                    <td><label for="name">Full Name</label></td>
                    <td><input type="text" name="name" #un="ngModel" placeholder="Full name" class="form-control" [(ngModel)]="user.name" required></td>
                </tr>
                <div *ngIf="un.invalid && (un.dirty||un.touched)" style="color: red;" >
                    <div *ngIf="un.errors?.required">*Name is required</div>
                </div>
    
                <tr>
                    <td><label for="email">Email ID</label></td>
                    <td><input type="email" placeholder="Email" class="form-control" name="email" #ue="ngModel" [(ngModel)]="user.emailId" required pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$"></td>
                </tr>
                <div *ngIf="ue.invalid && (ue.dirty||ue.touched)" style="color: red;" >
                    <div *ngIf="ue.errors?.required">*Email is required</div>
                    <div *ngIf="ue.errors?.pattern">*Email ID is invalid</div>
                </div>
    
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="user.password" #up="ngModel" required minlength="6"></td>
                </tr>
                <div *ngIf="up.invalid && (up.dirty||up.touched)" style="color: red;" >
                    <div *ngIf="up.errors?.required">*Password is required</div>
                    <div *ngIf="up.errors?.minlength">*Password must minimum of 6 characters</div>
                </div>
    
                <tr>
                    <td><label for="mobile">Mobile No.</label></td>
                    <td><input type="tel" name="mobile" placeholder="Mobile Number" class="form-control" [(ngModel)]="user.mobileNo" #um="ngModel" required pattern="^[6-9]\d{9}$"></td>
                </tr>
                <div *ngIf="um.invalid && (um.dirty||um.touched)" style="color: red;" >
                    <div *ngIf="um.errors?.required">*Phone number is required</div>
                    <div *ngIf="um.errors?.pattern">*Phone number must have 10 digits</div>
                </div>
    
                <tr>
                    <td><label for="city">City</label></td>
                    <td><input type="text" placeholder="city" class="form-control" #uc="ngModel" name="city" [(ngModel)]="user.city" required></td>
                </tr>
                <div *ngIf="uc.invalid && (uc.dirty||uc.touched)" style="color: red;" >
                    <div *ngIf="uc.errors?.required">*City name is required</div>
                </div>
    
                <tr>
                    <td><label for="state">State</label></td>
                    <td><input type="text" placeholder="state" class="form-control" #us="ngModel" name="state" [(ngModel)]="user.state" required></td>
                </tr>
                <div *ngIf="us.invalid && (us.dirty||us.touched)" style="color: red;" >
                    <div *ngIf="us.errors?.required">*State name is required</div>
                </div>
    
                <tr>
                    <td><label for="dob">Date of Birth</label></td>
                    <td><input type="date" placeholder="DOB" class="form-control" #ud="ngModel" name="dob" [(ngModel)]="user.dateOfBirth" required ></td>
                </tr>
                <div *ngIf="ud.invalid && (ud.dirty||ud.touched)" style="color: red;" >
                    <div *ngIf="ud.errors?.required">*Date of Birth is required</div>
                </div>
    
                <tr>
                    <td><label for="qualification">Qualification</label></td>
                    <td><input type="text" placeholder="qualification" class="form-control" #uq="ngModel" name="qualification" [(ngModel)]="user.qualification" required></td>
                </tr>
                <div *ngIf="uq.invalid && (uq.dirty||uq.touched)" style="color: red;" >
                    <div *ngIf="uq.errors?.required">*Qualification is required</div>
                </div>
    
                <tr>
                    <td><label for="yearofcompletion">Year of Completion &nbsp; &nbsp;  </label></td>
                    <td><input type="date" placeholder="Year of completion" class="form-control" #uy="ngModel" name="yearofcompletion" [(ngModel)]="user.yearOfQualification" required></td>
                </tr>
                <div *ngIf="uy.invalid && (uy.dirty||uy.touched)" style="color: red;" >
                    <div *ngIf="uy.errors?.required">*Year of degree completion is required</div>
                </div>
                <br>

            </table>
    
                <div id="but"><input type="submit" value="Submit" ></div>
                <div> <br> </div>
        </form> 
    
    </div>
    
    </div>
    <br><br>



