<div id="nav">
  <ul>
      <li><a routerLink="/aboutusLink">About Us</a></li>
      <li><a routerLink="/registerLink">Register</a></li>
      <li><a routerLink="/student-loginLink">Student Login</a></li>
      <li><a routerLink="/homeLink">Home</a></li>
  </ul>
</div>
<div id="page">
    <div id="container">
      <br>
      <h1 style="text-align: center; color: black;">
      Admin Login Page
      </h1>
      <br><br>
        <div class="body">
          Username: <input type="text" placeholder="User Name" #un="ngModel" required [(ngModel)]="userName">
          <div *ngIf="un.invalid && (un.dirty||un.touched)" style="color: red;" >
            <div *ngIf="un.errors?.required">*Name is required</div>
          </div>
          <br><br><br>
          Password: <input type="password" placeholder="Password" [(ngModel)]="password" #up="ngModel" required>
          <div *ngIf="up.invalid && (up.dirty||up.touched)" style="color: red;" >
            <div *ngIf="up.errors?.required">*Password is required</div>
          </div>
        <br><br><br>
        <button type="button" (click)="checkadmin()">Login</button><br><br><br>
      </div>
    </div>
</div>