<div id="nav">
  <ul>
      <li><a routerLink="/aboutusLink">About Us</a></li>
      <li><a routerLink="/registerLink">Register</a></li>
      <li><a routerLink="/student-loginLink">Student Login</a></li>
      <li><a routerLink="/homeLink">Home</a></li>
  </ul>
</div>

<br><br><br><br><br>
 <h1 style="text-align: center; color: black;">
   Admin Login Page
</h1>
<br><br>
<div>
    Email ID: <input type="email" placeholder="Email ID" > <br><br><br>
    Password: <input type="password" placeholder="Password"> <a routerLink="/forgetpasswordLink"><br><br> Forget Password</a> <br><br><br>
    <button type="button">Login</button><br><br><br>

</div>

