<div id="nav">
  <ul>
      <li><a routerLink="/aboutusLink">About Us</a></li>
      <li><a routerLink="/registerLink">Register</a></li>
      <li><a routerLink="/student-loginLink">Student Login</a></li>
      <li><a routerLink="/homeLink">Home</a></li>
  </ul>
</div>

<br><br><br><br><br>
 <h1 style="text-align: center; color: black;">
   Admin Login Page
</h1>
<br><br>
<div class="body">
    Email ID: <input type="email" placeholder="Email ID"  [(ngModel)]="userName"> <br><br><br>
    Password: <input type="password" placeholder="Password" [(ngModel)]="password"> <br><br><br>
    <button type="button" (click)="checkadmin()">Login</button><br><br><br>

</div>

