 <div id="nav">
    <ul>
        <li><a routerLink="/ExamPage">ExamPage</a></li>
        <li><a routerLink="/addComponent">Add Question</a></li>
        <li><a routerLink="/aboutusLink">About Us</a></li>	
        <li><a routerLink="/registerLink">Register</a></li>
        <li><a routerLink="/student-loginLink">Student Login</a></li>
        <li><a routerLink="/admin-loginLink">Admin Login</a></li>
        <li><a routerLink="/homeLink">Home</a></li>
        <li><a routerLink="/searchLink">Search</a></li>
        <li><a routerLink="/report">Report</a></li>
        <li><a routerLink="/notclear">Notclear</a></li>
        <li><a routerLink="/nextlevel">Nextlevel</a></li>

    </ul>
  </div>
  <div class="body"></div>