
<br><br><br><br><br><br><br><br>
<div class="container">
    <button style="margin:10px;" type="button"> Report </button>
    <button style="margin:10px;" type="button"> New Exam </button> 
  
</div><br>


 <div id="nav">
    <ul>
        <li><a routerLink="//TakeTest">ExamPage</a></li>
        <li><a routerLink="/addComponent">Add Question</a></li>
        <li><a routerLink="/aboutusLink">About Us</a></li>	
        <li><a routerLink="/registerLink">Register</a></li>
        <li><a routerLink="/student-loginLink">Student Login</a></li>
        <li><a routerLink="/admin-loginLink">Admin Login</a></li>
        <li><a routerLink="/homeLink">Home</a></li>
        <li><a routerLink="/ExamPage">Test</a></li>
    </ul>
  </div>
  <div class="body"></div>

