<div class="topnav">
    <a routerLink="/home-page">Home</a>
    <a routerLink='/user-register'>Register</a>
    <a routerLink='/user-login'> Student Login</a>
   </div>
   
  
<div id="page">
    <div id="container">
      <br>
      <h1 style="text-align: center; color: black;">
      Admin Login Page
      </h1>
      <br><br>
        <div class="body">

          Username: <input type="text" placeholder="User Name" #un="ngModel" required [(ngModel)]="userName">
          <div *ngIf="un.invalid && (un.dirty||un.touched)" style="color: red;" >
            <div *ngIf="un.errors?.required">*Name is required</div>
          </div>
          <br><br><br>
          Password: <input type="password" placeholder="Password" [(ngModel)]="password" #up="ngModel" required>
          <div *ngIf="up.invalid && (up.dirty||up.touched)" style="color: red;" >
            <div *ngIf="up.errors?.required">*Password is required</div>
          </div>
        <br><br><br>
        <button type="button" (click)="login()">Login</button><br><br><br>

      </div>
    </div>
</div>