<div class="navbar">
    <div class="welcome_text">Welcome, Admin</div>
    <button class="back" (click)="goBack()">Back</button>
    <button class="logout" (click)="adminLogout()">Logout</button>
</div>
<div >
    <div class="container">

        <form (ngSubmit)="addQuestion()">
            <label>Choose The Subject</label>
            <select  name="subject" [(ngModel)]="question.subject.name" value="java">
                   <option *ngFor="let s of subjects">{{s.name}}</option>
            </select><br/><br/>
            <label>Choose The Level Of Difficulty</label>
            <select name="level" [(ngModel)]="question.level">
                <option> 1</option>
                <option> 2</option>
                <option> 3</option>
            </select><br/><br/>
             
            <div class="csv-file-chooser-section">

                <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
                accept=".csv" />
            
            </div><br/><br/>

            <button type="submit">Add Question</button>

        </form>
    </div>
</div>