<body>   

    <div class="navbar">
        <div class="welcome_text">Welcome Admin!!</div>
        <button class="logout" (click)="adminLogout()">Logout</button>
    </div>
    <div class="center">
       <button class="button" (click) = "addQuestions()">ADD QUESTIONS</button>
       <br>
       <button class="button" (click) = "removeQuestions()">REMOVE QUESTION</button>
       <br>
       <!--<button class="button" (click) = "viewReports()">VIEW REPORTS</button>-->
    </div>  
    
</body>

