<div>{{message}}</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form (ngSubmit)="loginCheck()" class="box"> 
                    <h1>Login</h1>
                    <p > Please enter your email and password!</p>
                    <input type="text" name="email" placeholder="email"  [(ngModel)]=login.emailId> 
                    <input type="password" name="password" placeholder="Password"  [(ngModel)]=login.password>
                     <a  routerLink='/forgot-password'>Forgot password?</a> 
                     <button class="loginbtn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>