<div id="nav">
    <ul>
        <li><a routerLink="/aboutusLink">About Us</a></li>
        <li><a routerLink="/admin-loginLink">Admin Login</a></li>
        <li><a routerLink="/student-loginLink">Student Login</a></li>
        <li><a routerLink="/homeLink">Home</a></li>
    </ul>
  </div>

    <div style="text-align: center; color: rgb(47, 54, 54);background-color: darkcyan;font-size:large;
	font-weight:700;
	">
       <h1><pre style="text-align: center; margin-right: 250px;">
           <p style="text-align: center;">
             Online Examination System can reduce the hectic job of assessing the answers
             given by candidates manually. 
             Responses or the answers by the candidates can be checked automatically
             and instantly. 
             It will reduce paperwork to be an integrated Online Examination System. 
             The result can be shown immediately to the students reducing the anxiety. 
             Can create various reports and graphs for evaluation purpose almost
             instantly when and where required.
        
    </p>
</pre>
       </h1>
    </div>
    

