<div class="log"> <button>LogOut</button> </div>
<h1> Start Exam <h1>
	<h2>Instructions for Technical Test</h2>
	<h3>Before beginning the exam:</h3>
	<li>Make sure you have a good internet connection.</li>
<li>Enter the Exam using Chrome or Firefox.Do not use any other internet browser.</li>
	<li>Maximize your browser window before starting the test. </li>
	<li> Minimizing the browser window during the exam can prevent the submission of your exam.</li>
<li>When you begin the exam click the Start Test button to launch the test. </li>
	<br>
	
	<div class="start">
	<button>Start Test</button>
	</div>
