<br><br><br><br><br><br>
<body>

    <table class ="center">
                    <tr>
                        <td><label for="technology">Technology</label></td>
                        <td>
                            <select>
                                <option selected>Java</option>
                                <option>Python</option>
                                <option>Angular</option>
                            </select><br><br>

                        </td>
                    </tr>
                    <tr>
                        <td><label for="state">State</label></td>
                        <td>
                            <select>
                                <option selected>Maharashtra</option>
                                <option>Madhya Pradesh</option>
                                <option>Rajasthan</option>
                                <option>Andhra Pradesh</option>
                                <option>Delhi</option>
                                </select><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="city">City</label></td>
                        <td>
                            <select>
                                <option selected>select a city</option>
                                <option>Mumbai</option>
                                <option>Delhi</option>
                                <option>Chennai</option>
                                <option>Indore</option>
                
                            </select><br><br>

                        </td>
                    </tr>
                    <tr>
                        <td><label for="levels">Levels</label></td>
                        <td>
                            <select>
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                
                            </select><br><br>

                        </td>
                    </tr>
                    <tr>
                        <td><label for="marks">Marks</label></td>
                        <td>
                            <select>
                                <option selected>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select><br><br>
                        </td>
                    </tr>   
    </table>
    <button>
        Search Students
    </button>
</body>