<div id="nav">
    <ul>
        <li><a routerLink="/aboutusLink">About Us</a></li>
        <li><a routerLink="/registerLink">Register</a></li>
        <li><a routerLink="/admin-loginLink">Admin Login</a></li>
        <li><a routerLink="/homeLink">Home</a></li>
    </ul>
</div>
<br><br><br>
 <h1 style="text-align: center; color: black;">
   Search Students
</h1>
<br>
<body>
    <div class="table">
        <table class ="center">
            <tr>
                <td><label for="technology">Technology</label></td>
                <td>
                    <select>
                        <option selected>Java</option>
                        <option>Python</option>
                        <option>Angular</option>
                    </select><br><br>

                </td>
            </tr>
            <tr>
                <td><label for="state">State</label></td>
                <td>
                    <select>
                        <option selected>
                            <option>Andhra Pradesh</option> 
                            <option>Assam</option> 
                            <option>Arunachal Pradesh</option>
                            <option>Arunachal Pradesh</option>
                            <option>Bihar</option>
                            <option>Chhattisgarh</option>
                            <option>Goa</option>
                            <option>Gujrat</option>
                            <option>Haryana</option>
                            <option>Himachal Pradesh,</option>
                            <option>Jammu and Kashmir</option>
                            <option>Jharkhand</option>
                            <option>Karnataka</option>
                            <option>Kerala</option>
                            <option>Madhya Pradesh</option>
                            <option>Maharashtra</option>
                            <option>Madhya </option>
                            <option>Manipur</option>
                            <option>Meghalaya</option>
                            <option>Mizoram</option>
                            <option>Nagaland</option>
                            <option>Orissa</option>
                            <option>Punjab</option>
                            <option>Rajasthan</option>
                            <option>Sikkim</option>
                            <option>Tamil Nadu</option>
                            <option>Tripura</option>
                            <option>Uttaranchal</option>
                            <option>Uttar Pradesh,</option>
                            <option>West Bengal</option>
                            <option>Rajasthan</option>
                            <option>Delhi</option>
                    </select><br><br>
                </td>
            </tr>
            <tr>
                <td><label for="city">City</label></td>
                <td>
                    <select>
                        <option selected>select a city</option>
                        <option>Mumbai</option>
                        <option>Delhi</option>
                        <option>Chennai</option>
                        <option>Indore</option>
        
                    </select><br><br>

                </td>
            </tr>
            <tr>
                <td><label for="levels">Levels</label></td>
                <td>
                    <select>
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
        
                    </select><br><br>

                </td>
            </tr>
            <tr>
                <td><label for="marks">Marks</label></td>
                <td>
                    <select>
                        <option selected>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                        <option>60</option>
                        <option>70</option>
                        <option>80</option>
                        <option>90</option>
                        <option>100</option>
                    </select><br><br>
                </td>
            </tr>   
            
</table>
<button>
Search Students
</button>

    </div>
    
    
</body>